<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KnowEdge</title>
</head>

<body>
  <h1>Привет <%= name %>,</h1>
  <p>Получен ответ на твой вопрос под видео "<%= title %>"</p>
  <p>Пожалуйста войдите в свой аккаунт чтобы продолжить диалог.</p>
  <p>Спасибо что выбираете нас!</p>
</body>

</html>